<%- include('partials/head') %>

<main class="container mx-auto px-4 lg:px-6 py-12">
  <div class="max-w-4xl mx-auto bg-gray-800/50 p-6 md:p-10 rounded-lg border border-gray-700 content-container">
    <h1 class="text-4xl font-extrabold text-white mb-6">Política de Privacidad</h1>
    <p class="text-gray-400">
      Última actualización: 07 de julio de 2025
    </p>

    <h2>1. Información que Recopilamos</h2>
    <p>
      Recopilamos información para proporcionar y mejorar nuestro Servicio. Los tipos de información que podemos recopilar incluyen:
    </p>
    <ul>
      <li><strong>Información personal:</strong> Nombre o usuario y número de teléfono que usted proporciona al registrarse.</li>
      <li><strong>Datos de uso:</strong> Información sobre cómo accede y utiliza el Servicio, tipo de navegador y tipo de dispositivo.</li>
    </ul>

    <h2>2. Cómo Usamos su Información</h2>
    <p>
      Usamos la información recopilada para varios propósitos:
    </p>
    <ul>
      <li>Para proporcionar y mantener nuestro Servicio.</li>
      <li>Para notificarle sobre cambios en nuestro Servicio.</li>
      <li>Para permitirle participar en funciones interactivas de nuestro Servicio cuando elija hacerlo.</li>
      <li>Para proporcionar atención al cliente.</li>
      <li>Para monitorear el uso de nuestro Servicio y detectar, prevenir y abordar problemas técnicos.</li>
    </ul>

    <h2>3. Seguridad de los Datos</h2>
    <p>
      La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger su Información Personal, no podemos garantizar su seguridad absoluta.
    </p>
  </div>
</main>

<%- include('partials/footer') %>